@model List<Product>
@section TitleSection {
        Show
 }
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 10px">#</th>
            <th>title</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a onclick="return confirm('Are you sure ?');" type="button" class="btn btn-block btn-outline-danger" href="/admin/products/delete/@item.Id">Delete</a>
              <a type="button" class="btn btn-block btn-outline-danger" href="/admin/products/edit/@item.Id">Edit</a>
          </td>

            </tr>
        }
    </tbody>
</table>

