@model List<Category>
@section TitleSection{
Category
 }
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 10px">#</th>
            <th>title</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td><a onclick="return confirm('Are you sure ?');"  type="button" class="btn btn-block btn-outline-danger" href="/admin/categories/delete/@item.Id" >Delete</a></td>
            </tr>
        }
    </tbody>
</table>
